{% extends "base.html" %}

{% block content %}

<h2 style="margin-bottom:10px;">📊 Dashboard Overview</h2>

<div class="cards">

    <div class="card blue">
        <h3>👨‍🎓 Students</h3>
        <h1>{{ students_count }}</h1>
    </div>

    <div class="card green">
        <h3>📄 Results</h3>
        <h1>{{ results_count }}</h1>
    </div>

    <div class="card purple">
        <h3>⚡ Status</h3>
        <h1>Active</h1>
    </div>

</div>

<h3 style="margin-top:30px;">📚 Latest Students</h3>

<table>
    <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Dept</th>
        <th>Action</th>
    </tr>

    {% for s in latest_students %}
    <tr>
        <td>{{ s.name }}</td>
        <td>{{ s.student_id }}</td>
        <td>{{ s.department.name }}</td>
        <td>
            <a href="{% url 'student_profile' s.id %}" style="color:#3b82f6;">View</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}